{
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "function-paren-newline":"off",
    "no-underscore-dangle": [
      "warn"
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ]
  }
}
